<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        Hello guys!!!!
    </title>
    <style>
        body {
            background-color: black;
        }

        div {
            text-align: center;

            color: aqua;
            font-family: Arial;
            font-size: 50px;
            font-style: italic;
            border: grey;
            margin: 50px 50px;
            border-style: ridge;
            border-width: 10px;

        }
    </style>
</head>

<body>
    <div>
        Hello , {{name}}!!!
    </div>
</body>

</html>